.frame { 
 background-color: transparent;
 background-image: url(sprite-running7f7acf03b221c662eeb400937e5528bc.png);
 background-repeat: no-repeat;
 width: 48px;  }
.frame-0 { background-position: 0 0; }
.frame-1 { background-position: -96px 0; } 
.frame-2 { background-position: -144px 0; } 
.frame-3 { background-position: -192px 0; } 
.frame-4 { background-position: -240px 0; } 
.frame-5 { background-position: -288px 0; } 
.frame-6 { background-position: -336px 0; } 
.frame-7 { background-position: -384px 0; } 
.frame-8 { background-position: -432px 0; } 
.frame-9 { background-position: -480px 0; } 
.frame-10 { background-position: -528px 0; } 
.frame-11 { background-position: -576px 0; } 

